body{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #555555;
	background: transparent;
}
/*nav*/
.yg_nav_top_wrapper{
	padding: 10px 0;	
	margin-bottom: 10px;
}
.yg_top_logo_block{
	box-sizing: border-box;
	width: 250px;
	height: 75px;
	background: url(../img/logo.svg)no-repeat center;
	background-size: cover;
	margin: 0 auto;
}
.yg_top_menu{
	width: 100%;
	margin-top: 45px
}
.yg_top_menu ul{
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100%;
}
.yg_top_menu ul li{	
	display: inline-block;
	margin-right: 7px;
}
.yg_top_menu ul li a::after{
	display: block;
	content: "";
	height: 2px;
	background-color: #38ACE1;
	width: 0%;
	transition: all .4s ease-in-out;
}
.yg_top_menu ul li a:hover:after, .yg_top_menu ul li a:focus:after{
	width: 100%;
}

.yg_top_menu ul li a{
	text-decoration: none;
	color: #555555;
	text-transform: uppercase;
}
.yg_top_phone_block{
	display: flex;
	margin-top: 15px
}
.yg_top_phone_block img{
	margin-right: 15px;
	width: 40px;
}
.phone_n a{
	text-decoration: none;
	color: inherit;
	font-size: 18px
}
.nav_fixed{
	position: fixed;
	z-index: 1;
	width: 100%;
	background-color: #ffffff;
	box-shadow: 3px 3px 5px #999999a2;
}

/*yg_header*/
.yg_heder_wrapper{
	width: 100%;
	overflow: hidden;
}

/*burger_menu start*/
.hidden{
	display: none;
}
.burger {
  position: fixed;
  top: 0;
  right: 0;
  width: 70px;
  height: 70px;
  z-index: 999;
}
.burger:hover {
  cursor: pointer;
}
.burger span {
  position: relative;
  margin-top: 8px;
  margin-bottom: 8px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  top: 27px;
  left: 20px;
}
.burger span, .burger span::before, .burger span::after {
  display: block;
  width: 27px;
  height: 2px;
  background-color: #085f88;
  outline: 1px solid transparent;
  -webkit-transition-property: background-color, -webkit-transform;
  -moz-transition-property: background-color, -moz-transform;
  -o-transition-property: background-color, -o-transform;
  transition-property: background-color, transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.burger span::before, .burger span::after {
  position: absolute;
  content: "";
}
.burger span::before {
  top: -8px;
}
.burger span::after {
  top: 8px;
}
.burger.open span {
  background-color: transparent;
}
.burger.open span::before {
  -webkit-transform: translateY(8px) rotate(135deg);
  -moz-transform: translateY(8px) rotate(135deg);
  -ms-transform: translateY(8px) rotate(135deg);
  -o-transform: translateY(8px) rotate(135deg);
  transform: translateY(8px) rotate(135deg);
}
.burger.open span::after {
  -webkit-transform: translateY(-8px) rotate(-135deg);
  -moz-transform: translateY(-8px) rotate(-135deg);
  -ms-transform: translateY(-8px) rotate(-135deg);
  -o-transform: translateY(-8px) rotate(-135deg);
  transform: translateY(-8px) rotate(-135deg);
}
.burger.open:burger{
	transform: rotate(360deg);
} 
/*burger_menu end*/

.yg_offer_wrapper{
	min-height: 100vh;
	background-color: #ffffff;
	background: url(../img/bg_heder.svg) no-repeat top;
	background-size: cover;
}
.top_slider_wrapper{
	margin-top: 200px;	
}


.yg_main_title_box{	
	width: 100%;	
	color: #ffffff;
	padding-left: 50px;
	
}
.yg_main_title_box h1{	
    padding-left: 20px;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: bold;
	font-size: 40px;
	text-transform: uppercase;
	line-height: 1.5em;
	text-shadow: 2px 2px 5px #888888;
}

}
.gm_heder_img{
}
.gm_heder_img img{
}
.yg_btn{
	width: 252px;
	margin: 0 auto 0;
	color: #ffffff;
	padding: 8px 15px;
	text-transform: uppercase;
	font-size: 18px;
	border: 2px solid #FFFFFF;
	box-sizing: border-box;
	border-radius: 27px;
	-webkit-transition: all .3s;
	transition: all .3s;	
}
.yg_btn:hover{
	background-color: #ffffff;
	color: #38ACE1;
	cursor: pointer;
}
/*yg_service_wrapper*/
.yg_service_wrapper{
	min-height: 100vh;
}
.yg_service_title{
	margin: 60px 0 60px;
}
.yg_service_title h2, .yg_team_title h2{
	font-size: 36px;
	font-weight: 600;
	color: #555555;
	text-transform: uppercase;
}
.yg_service_item{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 210px;
	background-color:#ffffff;
	margin: 30px auto 0;
    position: relative;
	overflow: hidden;
	box-shadow: 2px 2px 10px 2px #cbe8f5;
	
}

.yg_service_item:hover{
	cursor: pointer;
}
.yg_serv_img{
	margin: 40px 0 0;
	height: 70px;
	-webkit-transition: all .5s;
	transition: all .5s;
}
.yg_serv_img img{
	display: block;
	margin: 0 auto;
}
.yg_serv_item_title{
	width: 100%;
	padding:3px;
	text-align: center;
	margin: 25px 0 20px;
	text-transform: uppercase;
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}
.yg_serv_item_title h3{
	font-size: 18px;
	margin-top: 24px;
}
.yg_serv_list{
	background-color: #38ACE1;	
	font-size: 12px;
	color: #ffffff;
	text-transform: uppercase;
	line-height: 1.5rem;
	letter-spacing: 0.1rem;
	right: 0;
	left: 0;
	bottom:0;
	top: 0;
	padding-top: 10px;
	width: 100%;
	min-height: 150px;
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}
.yg_service_item:hover .yg_serv_img,.yg_service_item:hover .yg_serv_item_title,.yg_service_item:hover .yg_serv_list {
	-webkit-transform: translateY(-145px);
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
} 
.yg_serv_list ul{
	display: block;
	position: relative;	
	list-style: none;
	text-align: center;
}
.yg_serv_list ul li{
	margin-left: -35px;
}
/*Team wrapper*/
.yg_team_wrapper{
	margin: 50px 0;
	padding-bottom: 30px;
	background: linear-gradient(180deg, #F1FBFF 0%, #AADFF4 100%), #37AADF;
}
.slick-prev:before,
.slick-next:before{
	display: none;
}
.slick-prev,.slick-prev:hover,.slick-prev:focus{
    left: 10px;
    background: url(../img/prev.svg)no-repeat center;
}
.slick-next,.slick-next:hover,.slick-next:focus{
    right: 10px;
    background: url(../img/next.svg)no-repeat center;
}
.slick-prev,
.slick-next{
	z-index:1;
	height: 50px;
	width: 33px;
}
.yg_team_title{
	margin: 30px 0 50px;
	padding-top: 30px;
}
.doc_item{
	width: 230px;    
    margin: 0 auto;
}
.doc_img img{
    width: 230px;
}
.doc_description{
	width: 100%;
	padding: 10px;
	height: 100px;
    background-color: #ffffff;
}
.doc_description span h5{
    font-size: 14px;
    font-weight: bold;
}
.doc_description span h6, p{
    font-size: 14px;
}

/*media queries*/
@media (max-width: 1199px){		
	.yg_top_menu{
		margin-top: 10px;
	}
	.yg_top_phone_block{
		margin: -20px 0;
	}
	.yg_main_title_box h1{
		font-size: 30px;
		padding-left: 50px;
	}
	.yg_heder_wrapper{
		height: 700px;
	}
	.top_slider{
		margin-top: 0;
	}
	.yg_main_title_box{
		padding: 0;
	}	
	.gm_heder_img{
	}
	.gm_heder_img img{
		height: 250px;
		
	}
	.yg_btn{
		margin-top: 0
	}
}

@media (max-width: 991px){
	.yg_top_phone_block{
		margin: -90px 0 0 20px;
	}
	
	.yg_main_title_box h1{
		font-size: 30px;
		text-align: center;
		padding-left: 0;
	}
	
	.gm_heder_img{
		display: none;
	}
	.yg_offer_wrapper{
		
	}
	.yg_btn{
		margin: 10px auto;
	}
}

@media (max-width: 767px){
	.yg_nav_top_wrapper{
		position: relative;
		box-shadow: none;
	}
	.yg_top_phone_block{
		position: absolute;
		right: -200px;
		top: -70px
	}
	.responsive_menu{
		position: fixed;
		top: 85px;
		right: 0;
		width: 100%;
		z-index: 0;				
	}
	.resp_ul{
		background-color: #38ace1;
		-webkit-transform: translatex(-100%);
		transform: translatex(-100%);
		transition: all .4s ease-in-out;
	}
	.responsive_menu ul li{
		display: block;
		position: relative;
		width: 100%;
		z-index: 1;
		text-align: right;		
		border-top: 1px solid #ffffff;
	}
	.responsive_menu ul li a{
		display: block;
		width: 100%;
		height: 100%;
		position: relative;
		color: #ffffff;
		font-size: 20px;
		padding: 15px;
	}
	
	.responsive_menu ul li a::after{
		content: "";
		display: block;
		position: absolute;
		background-color: #267EA6;
		height: 100%;
		width: 0%;
		top: 0;
		right: 0;
		z-index: -1;
		transition: width .4s ease-in-out;
	}
	.responsive_menu ul li a:hover::after{
		width: 100%;
	}
	.yg_top_phone_block{
		margin-top: 10px
	}

	.burger{
		display: block;
	}
	.menu_mobile{
		
	}
	.activated {
	  -webkit-transform: translateX(0);
	  transform: translateX(0);
	}	
/*responsive menu end*/	
	
	.yg_main_title_box h1{
		text-align: center;
	}
	.yg_btn{
		margin: 30px auto;
	}
	.yg_offer_wrapper{
		
	}
	.top_slider{
		z-index: 1		
	}
    .slick-prev,
    .slick-next{
	z-index:5;
    }
	.zi_0{
		z-index: 0;
	}
	.zi_1{
		z-index: 99;
	}

@media (max-width: 575px){
	.yg_top_phone_block{
		display: none;
	}
	.yg_offer_wrapper{
		
	}
	.top_slider_wrapper{
		margin-top: 150px;
	}
	.yg_main_title_box h1{
		padding: 80px 0 0;
		font-size: 25px;		
	}
	
	.yg_btn{
		margin: 0px auto;
	}
	.yg_service_title h2{
		font-size: 30px;
	}
}

@media (max-width: 400px){
	.yg_offer_wrapper{
		
	}
}
